<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>Bienvenue dans DIAS',</p>

<p>Au nom de l'ensemble de l'équipe de DIAS', je voudrais saisir l’occasion pour vous remercier de votre inscription. 
<br>Nous sommes ravis de vous avoir avec nous.</p> 

<p>Sur <b><%= @url %></b> vous pouvez parcourir les premières informations concernant  l'association et les projets retenus.</p>

<p>Le défi que nous avons à relever est l'addition des efforts de tout un chacun, n'hésitez donc pas à encourager vos amis, contacts et famille à nous rejoindre.</p>

<p>Bienvenue dans <b>DIAS'</b> une solution pour l'Afrique par la diaspora !</p>

<p><b>Anooha Kemba MBAYI WA MUBEDI</b></p>   
  </body>
</html>
