
	<div class="container jumbotron altbg-white">

<!-- MENU -->
<div class="row bigger">
<div class="col-md-4 col-md-offset-4">
<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#dias" class="lead">Dias'</a></li>
  <li><a href="#values" class="lead">Valeurs</a></li>
  <li><a href="#missions" class="lead">Missions</a></li>
</ul>
</div>
</div>


	<h1 id="dias">A propos de Dias</h1>
<h2><i>« La seule chose qui permet au mal de triompher est l'inaction des hommes de bien » </i><small>- Edmund Burke</small> </h2>

<p>...dans la recherche quotidienne de solution pérenne, <b>PANAFRICANISM 2.0</b> en est venu à la conclusion qu’il nous fallait réfléchir à la mise en place d’une structure de financement des projets de développement des autochtones africains. </p>

<h3>Pourquoi ?</h3>
Pour contrecarrer l'émergence d'Ong voyous qui pillent le continent au lieux de l'aider
<br>Pour encadrer l'entrepreneuriat et instaurer des visions à long terme en matière de développement 
<br>Pour soutenir l'écologie, la santé et le social trop délaissé


<h3>Pour qui ?</h3>
Pour tous personne désireuse de lancer des projets de développement et d'émancipation de l'Afrique et/ou de la diaspora
<br>Pour une diaspora forte reconnecté à ses racines
<br>Pour une Afrique forte et indépendante à tous points de vues

<h3>Par qui ?</h3>
<p>Par le peuple lui-même, organisé en plusieurs micro-comités économiques diasporiques. 
Ces structures seront chargées de récolter des donations qui appliquées à une micro-communauté, pourraient représenter beaucoup.</p>


<p><b>Le but de DIAS' est CLAIR, et ne souffre aucune AMBIGUÏTÉ : Nous montrer présents, avec nos modestes moyens qui, additionnés, peuvent apporter des moyens conséquents sur le terrain de jeu (la fragilité économique de la jeunesse africaine) des prédateurs mondialistes. </b></p>

<p>DIAS' a été créé pour aider la diaspora à s’organiser
<br>DIAS' a été créé pour soutenir les promoteurs de projets du continent
<br>DIAS' a été créé pour se lever contre l’injustice et la stigmatisation de l’Afrique
<br>DIAS' a été créé pour gérer les flux d’argent vers le continent pour plus d’efficience
<br>DIAS' a été créé pour dénoncer les magouilles mafieuses sur le contient
<br>Soyez acteur du changement!
<br>Rejoignez-nous!
<br>Devenez membre !
<br>Bienvenue dans un nouveau monde!
<br>Bienvenue dans DIAS' une solution pour l’Afrique par la diaspora!</p>

<div id="values"><br>

<h1>Nos valeurs</h1>
<ul>
	<li>Résistance politique, littéraire, artistique, scientifique et financière à toute forme de domination
<li>Refus de la soumission du peuple africain
<li>S’émanciper pour vivre une vraie égalité des peuples
<li>Rétablie les africains de tout azimut dans la plénitude dans la plénitude de leur humanité, de leur civilisation et de leur souveraineté
<li>Retour à soi :
	<ul>
		<li>- à l’historicité
		<li>- capacité de décider et agir par eux-mêmes, pour eux-mêmes, selon leurs propres valeurs et préoccupations
		</ul>
<li>Lieu épistémologique où résistance et renaissance panafricaines s’articulent en stratégies individuelle ou collective de reprise en main de leur destin par les africains –aussi bien du continent Mère que de la diaspora- unis par une longue histoire commune.
<li>Repenser la place des africains dans le concert des nations grâce à une population jeune, dynamique et la détention sur le continent de plus de la moitié des ressources mondiale.
</ul>
</div>

<div id="missions">
<h1>Missions</h1>
<ul>
	<li>Aider à la création des réseaux et au renforcement des alliances entre les organisations de base,
	<li>Servir d’interface entre les autorités administratives, politiques, les partenaires au développement et les organisations de base,
	<li>Renforcer les capacités et les compétences des organisations de base,
	<li>Promouvoir des cadres d’échange, de concertation entre les organisations de base,
	<li>Appuyer les groupes spécifiques tels que les acteurs des différentes filières de production,
	<li>Faciliter l’accès des organisations de base aux financements,
	<li>Réaliser et diffuser les productions scientifiques,
	<li>Créer un cadre de formation des acteurs de base du développement local,
	<li>Soutenir les initiatives de développement local et la promotion de l’esprit d’entreprise.
	</ul>
</div>
</div>
</div>


<!-- FOOTER contact us -->

<div class="altbg-end">
<div class="container text-center">
  <p class="lead">Nous contacter :</p>
  <%= link_to "http://facebook.com/ujumbox", :class => 'btn btn-default btn-lg', :target => "_blank" do %>  
    <i class="fa fa-facebook fw"> Facebook</i>
  <% end %>
  <%= link_to "mailto:projetmbad@gmail.com", :class => 'btn btn-default btn-lg', :target => "_blank" do %>  
    <i class="fa fa-envelope fw"> Email</i>
  <% end %>
  <!-- <%= link_to "mailto:contact@ujumbox.com", :class => 'btn btn-default btn-lg', :target => "_blank" do %>  
    <i class="fa fa-bullhorn"> Publier vos propositions</i>
  <% end %> -->

  </div>
