<div class="container">
	<h1>COMMENT ETRE RASSURE QUE MON ARGENT NE SERVIRA PAS A AUTRE CHOSE ?</h1>
<p>Chaque membre en ordre de cotisation  reçoit une attestation dans laquelle l’association s’engage à rembourser le donateur dans l’éventualité où l’argent aurait été abusivement utilisé ou alloué à une dépense injustifiée selon les statuts de l’association.</p>

<h1>QUEL PROJET SONT FINANCES ET COMMENT LES SELECTIONNE-T-ON ?</h1>
<p>Tout projet en accord avec les valeurs de l’association mais il va de soi que nous ne pourrons pas investir dans des projets qui dépassent nos moyens financiers.
Toute personne désireuse de présenter un projet peut l’envoyer au département MARKETING et analyse de projet. Le département après analyse choisi 3 projets qu’il présente aux membres de l’association pour le vote et une fois le projet choisi, il sera suivi jusqu’à aboutissement.</p>

<h1>COMMENT SE PASSE LE SUIVI DES PROJETS LES MEMBRES SERONT_ILS AVERTI ?</h1>
<p>Une personne sera chargée de se rendre sur place pour s’assurer que les fonds sont bien réceptionnés, que le bénéficiaire s’engage par contrat à nous donner un droit consultatif dans la gestion journalière mais aussi, il s’engage à être actif pour le développement de son environnement direct et de ses travailleurs. Il se s’assurera aussi que le projet avance tel que ça a été présenté aux membres de l’association mais aussi dans le but d’établir un rapport aussi complet et réel que possible. </p>
<p>Ayant suivi le projet de bout en bout et avec des rapports mensuels, nous pouvons avoir une idée clair des domaines porteurs qui méritent notre soutien mais aussi nous saurons quand nous pourrons récupérer le prêt octroyé.</p>
<p>Les membres adhérents en ordre de cotisation reçoivent chaque mois un rapport aussi détaillé que possible sur l’évolution, les problèmes encouru et les solutions apportées. De cette manière,  chacun peut lorsqu’il note un manquement ou une irrégularité en faire part au plus vite afin de garantir la viabilité du projet.</p>

<h1>PUIS-JE ETRE ACTIF AU SEIN DE L’ASSOCIATION ?</h1>
<p>Chaque membre à la possibilité de devenir actif au sein de l’association. Pour se faire, il suffit de contacter le responsable d’un des départements de l’association avec ses coordonnées complètes et ses compétences acquises par diplôme ou en autodidacte.</p>
<p>Quelle que soit la candidature, une période de test de 3 à 6 mois est requise pour estimer les réelles motivations du candidat.</p>
<p>L’acceptation ou le refus de la candidature est du chef du responsable de département mais en cas de litige, le conseil d’administration ou l’assemblée générale sont les seules organes compétents à lever une telle décision.</p>