<div class="container jumbotron altbg-white">
    <div class="container">
    	<br>DIAS’ a été créée pour aider la diaspora à s’organiser 
<br>DIAS’ a été créée pour soutenir les promoteurs de projets du continent  
<br>DIAS’ a été créée pour se lever contre l’injustice et la stigmatisation de l’Afrique 
<br>DIAS’ a été créée pour gérer les flux d’argent vers le continent avec plus d’efficience  
<br>DIAS’ a été créée pour dénoncer les magouilles mafieuses sur le contient
<br>
<br>Bienvenu dans Dias' Une solution simple, concrète et transparente pour une Afrique réellement indépendante 
<br>
<br>Partant du constat que nous exposons dans notre manifeste, il parait nécessaire de nous prendre en main et de nous organiser pour que la relance de l’Afrique se fasse par nous, avec nous et pour nous... C’est dans cette ambition que s’inscrit DIAS’. 
Une solution pensée pour les africains et la diaspora.
<br>L’un des moyens par lesquels nous pourrons y parvenir est de travailler  TOUS ENSEMBLE. 
<br>Cette unité fera de nous une communauté visible, incontournable et solidaire donc invincible.
<br>
<br>
<br>QUE PROPOSE DIAS’ 
<br>Cette organisation communautaire met en relation la diaspora et l'Afrique.
<br>Elle propose -par le biais des cotisations de ses membres- de SOUTENIR DES PROJETS ayant pour vocation le DÉVELOPPEMENT DE L’AFRIQUE et de sa communauté. 
<br>DIAS’ propose à ses membres UNE TOTALE TRANSPARENCE. 
<br>Une transparence dans le suivi des projets financés avec un rapport mensuel détaillé sur l'évolution. Ce rapport sera envoyé à chaque membre car ils sont EN DROIT de savoir où est passé leur argent. 
<br>Une transparence également sur son fonctionnement: Pour se faire, une commission de contrôle faite de membres de l'association sera mise sur pied et ce rapport sera communiquer aux membres. Si un des membres à une demande précise concernant une vérification, se sera à cette commission qu'il devra s'adresser.
<br>
<br>SEULS LES MEMBRES INSCRITS PEUVENT SOUTENIR, PROPOSER ET AVOIR ACCÈS AUX PROJETS SÉLECTIONNÉS AVEC SOIN PAR DIAS’.
<br>
<br>
<br>CONCRÈTEMENT COMMENT ÇA SE PASSE ? 
<br>DIAS’ fonctionne sur base de participation solidaire (dons) de ses membres. 
<br>En contrepartie de leurs cotisation, les membres bénéficient d’avantages exclusifs proposés par DIAS’ :
<br>Participer à une initiative qui propose une alternative aux ONG «voyous» dans le développement de l’Afrique
<br>Profiter d’un réseau de consommation communautaire par la mise en place de partenariats avec des commerces qui se distinguent par leurs sérieux et par leurs engagement panafricain ( engagement à se fournir au sein de la communauté). Ces commerces labellisés par DIAS’ ( sur la base de critères sanitaires stricts ) garantiront aux membres des réductions en plus d’un service de qualité. 
<br>Être contacter en priorité lors des recherches d’investisseurs pour des projets lucratifs. Cela vous permettra d’avoir accès à un TAUX D’INTÉRÊT bien plus interessant que dans les structures classiques. 
<br>
<br>Cette cotisation s’élève à un MINIMUM de 10/mois (l’équivalent d’un cinéma) soit 120 /an et par adhérent. 
<br>De cette cotisation, une partie est prélevée pour les frais de fonctionnement de l'association et le reste est crédité sur le compte du membre pour  lui permettre à sa guise de financer les projets qui le touchent. 
<br>La gestion du crédit disponible sur le compte est propre à chaque membre. 
<br>AUCUNE obligation de choix de projets n’est imposer. 
<br>Un adhérent peut faire le choix de ne pas participer au financement des projets proposées et attendre de nouvelles propositions qu’il jugera peut être plus intéressantes. 
<br>Une désinscription est possible à N’IMPORTE QUEL MOMENT. 
<br>L’adhésion à l’association est donc SANS ENGAGEMENT DE DURÉE; Par contre, les cotisations engagées ne pourront être réclamées et seront RÉINVESTIES PAR DIAS DANS LES PROJETS PROPOSÉS. 
<br>
<br>COMMENT SONT SÉLECTIONNÉS LES PROJETS ? 
<br>La sélection des projets s’effectue selon des critères stricts. Avant toute chose, ils doivent intégrer les valeurs de DIAS ( disponible sur <%= link_to "http://www.mbadias.com", "http://www.mbadias.com" %>) et doivent être détaillés ( secteur d’activité, localité, budget détaillé, échéancier de remboursement,description complète,...). 
<br>Les promoteurs doivent également exposer en quoi leur projet participe au développement de leur environnement direct. Si un projet rempli toutes ces conditions, il est proposé aux membres. 
<br>Lorsqu’un projet atteint le budget nécessaire à son lancement  -grâce aux membres qui l’ont soutenu- l'annonce est faite au promoteur et les fonds débloqués.   
<br>Un agent de la structure est alors envoyé sur le terrain afin d’obtenir la signature d’une charte récapitulant les engagements du promoteur.
<br>Il l’accompagnera dans les démarches administratives ( ouverture de compte, enregistrement de l’activité auprès des autorités compétentes,...)
<br>Le bon déroulement du projet financé par les adhérents est contrôlé par DIAS’. 
<br>En effet, tant que le prêt accordé n’est pas remboursé, la structure a un droit de regard sur la gestion du projet. CELA NE SIGNIFIE PAS QUE DIAS’ LE DIRIGE. 
<br>DIAS’ se réserve uniquement le droit d’effectuer des contrôles fréquents afin de veiller au succès du projet et au respect des engagements pris auprès de ses membres.  
<br>La gestion du budget et la comptabilité doivent être TRANSPARENTES. 
<br>L’inspecteur peut intervenir n’importe quand afin de tout vérifier ( comptes, conditions de travail,rapport de travail,...) si une irrégularité est constatée, comme le stipule la convention, Dias' reprend la gestion de l'activité en ENCADRANT le promoteur pour le remettre sur les rails.
<br> 
<br>ET ENSUITE ? 
<br>Une fois le prêt (à0%) intégralement remboursé par le poromoteur, DIAS' devient gestionnaire la somme récupérer. Cette somme ne sera ni attribuée aux frais de fonctionnement de l’association, ni à tout autre dépense mais RÉINVESTIE dans d’autres projets de développement en privilégiant les domaines de la santé, de l’éducation, de la culture et des infrastructures visant à l'améliorisation des conditions de vie. 
<br>
<br>En bref, afin de faire le pont, DIAS’ oeuvre : 
<br>En afrique
<br>Au financement de projets afin de permettre aux populations locales de s'autosuffir
<br>Au développement des populations autochtones,
<br>
<br>Pour la diaspora 
<br>Au financement de projets répondant à ses besoins spécifiques 
<br>A la mise en place d’un réseau communautaire.
<br>À terme, les promoteurs de projets financés sur le continent constitueront des personnes de contacts de notre réseau communautaire sur lequel pourront s’appuyer ceux qui souhaitent préparer leurs retour sur la Terre Mère.  
<br>
<br>La mise en place d'un RÉSEAU SOLIDAIRE basé sur la cohésion de ses membres est un autre des objectifs poursuivis par DIAS’. 
<br>
<br>La création d'un réseau communautaire DENSE ET DIVERSIFIÉ ( restaurants, magasins, coiffeur...) garantie une meilleure circulation des richesses au sein de la communauté. 
<br>
<br>De plus, la mise en place de ce réseau communautaire pourra renforcer le lien que DIAS aspire à créer entre le continent et les afro-descendants en mettant en contact les commerces de la diaspora et les producteurs locaux que nous aurons pu soutenir. 
<br>L’approvisionnement auprès de ces producteurs permettra aux commerçants d’obtenir des prix plus intéressant qui profiteront aussi aux clients faisant partie de notre réseau.
<br><br>
</div>
</div>