
	<div class="container jumbotron altbg-white">
	<p>Le Monde entier atteste aujourd’hui le fait que l’Afrique est une terre d’avenir de par ces innombrables possibilités tant en matières premières, en main d’oeuvre et qu’en innovations.
<p>L’une des plus grandes réussites du colonialisme réside en sa capacité à nous faire vivre, nous afro descendants, dans le syndrome de Stockolm ; mais comme pour toute personne malade, une solution existe. 
<p>Il nous faut nous prendre en main et nous organiser pour que la relance de l’Afrique se fasse par nous, avec nous et pour nous...
<p>Lors du l’annonce du projet MBAD par Kemi SEBA, ce dernier a accordé une partie de son allocution à la «mauvaise gestion de l’argent généré par la diaspora en direction du continent africain».
<p>Nous devons cesser les envois anarchiques et nous devons plus que jamais nous montrer solidaires envers les porteurs de projets de développement. 
<p>Le soutient et la gestion rigoureuse de ces projets est l’une des solutions qui assurera au continent une évolution positive.
<p>Cette évolution, nous la voulons personnelle, économique, étatique et continentale.
<p>Pouvons-nous rester muet face à la mondialisation, face au soft et au néocolonialisme?
<p>Allons-nous continuer à organiser des manifestations et des conférences pour débattre de la situation dramatique de l’Afrique sans apporter de solution pérenne?
<p>Allons-nous continuer à critiquer le «diable blanc», chinois qui financent des conflits pour voler nos ressources, qui corrompent les pouvoirs en place pour profiter de la situation précaire de plus d’un milliard d’individu?
<p>Pouvons-nous toujours tendre la main et quémander une aide ou un soutien des paternalistes alors que nous sommes capables de nous auto-suffire et de vivre  sereinement en commercialisant nos surplus de production au reste du monde?
<p>J’entend déjà les premières oppositions me dire que nous n’en sommes pas capable car nous ne sommes pas solidaire, que nous ne sommes pas organiser, que nous avons besoin d’une aide  extérieure pour se développer. 
<p>Mais d’ou vient cette idée? 
<p>Qui a fait de nous ce que nous sommes? Ou comment avons-nous pu être assez dupe pour croire en une image de nous même imposé par des forces malveillantes?
Sur le continent, nos familles et nos amis sont submergés par les intentions d’associations, d’ONG et de sociétés occidentales qui contrôle le marché, étouffant ainsi les africains pour les empêcher de se développer  d’eux-même.
<p>De cette manière, l’estime de soit et de son semblable est complètement mise à mal.
«L’homme blanc» est érigé au rang d’être supérieur, synonyme de progrès et rendu indispensable au développement du continent. L’Europe, sa terre natale, se présente comme un Eldorado que tous doivent atteindre quel qu’en soit le prix.
<p>D’Europe, nous avons une vision réelle des conséquences de la crise qu’elle traverse et nous comprenons mieux les motivations de toutes ces multinationales.
<p>L’intérêt de tous ces pays qui investissent massivement est de contrôler l’Afrique...leur futur Eldorado. 
<p>Nous sommes entrés dans le système dont nous ne pouvons ou ne voulons plus sortir. Nous avons un sentiment de liberté et d'épanouissement alors que nous sommes asphyxiés.
<p>Il tente de nous empêcher de prendre conscience que l’avenir du monde se situe sur la terre mère.
<p>Pour renforcer cette aliénation préméditée, l’éveil de la conscience noire et les manifestations d’amour sincère pour le continent sont accusés  de suprémasisme et de haine raciale.
<p>Preuve de cette aliénation, nos commerces sont majoritairement aussi négligés  et désorganisés que ceux que nous pouvons trouver sur le continent.  Ceux-ci ont cependant l’excuse de manquer de structures et de moyens.  
<p>Le piège est alors réussi car d’une part, les afro-descendants d’Europe sont prisonniers d’une matrice, incapables de s’en libérer ; et d’autre part, les africains vivant sur le continent veulent en sortir laissant ainsi nos terres, nos ressources, notre richesse à des hyènes sans scrupule.
<p>Si nous analysons les autres communautés, nous constatons qu’elles sont toutes en mesure de s’organiser.  Où qu’elles soient leur but premier n’est pas de s’intégrer mais de valoriser leur culture d’origine et de combattre la xénophobie par le «vivre-ensemble».  Pour elles, l’intégration représente un leurre auquel elles ne souhaitent pas s’abandonner. 
<p>Nous devons agir à l’image des chinois, des italiens ou encore des turcs en valorisant notre culture d’origine.
<p> Si le modèle mondialiste et uniforme qui marche avec les petits africains ne s’applique pas aux autres communautés, posons nous la bonne question: Pourquoi devrions-nous courber l’échine?
<p>Petit à petit, des groupes de résistance aux intentions justes et nobles émergent.
<p>Bien que l’on essaie de nous diaboliser, nous devons poursuivre le combat.
<p>Dans cette lutte, nous devons analyser nos erreurs passées et regarder comment devenir plus forts. 
<p>L’un des moyens par lesquels nous pourrons y parvenir est de travailler TOUS ENSEMBLE.
<p>Cette unité fera de nous une communauté visible, incontournable et solidaire donc invincible.
<p>DIAS a été créé pour aider la diaspora à s’organiser
<p>DIAS a été créé pour soutenir les promoteurs de projets du continent
<p>DIAS a été créé pour se lever contre l’injustice et la stigmatisation de l’Afrique
<p>DIAS a été créé pour gérer les flux d’argent vers le continent pour plus d’efficience
<p>DIAS a été créé pour dénoncer les magouilles mafieuses sur le contient 
<p>Vous pensez que nous rêvons? Regardez ces quelques chiffres:
<p>On estime à 30 millions de personnes, la taille de la diaspora africaine
<p>les transferts de migrants pour l’ensemble des pays en développement s’élevaient à 351 milliards de dollars en 2011. Les experts en prévoient 400 milliards en 2014.
<p>Les transferts financiers des migrants représentent 2,5 fois l’Aide Publique au Développement (APD) des pays de l’OCDE
<p>Ces transferts représentent plus de 10% du PIB d’une vingtaine de pays dans le monde
<p>Soyez acteur du changement!
<p>Rejoignez-nous!
<p>Devenez membre
<p>Bienvenue dans un nouveau monde!
<p>Bienvenue dans Dias une solution pour l’Afrique par la diaspora!


</div>

<!-- FOOTER contact us -->

<div class="altbg-end">
<div class="container text-center">
  <p class="lead">Nous contacter :</p>
  <%= link_to "http://facebook.com/ujumbox", :class => 'btn btn-default btn-lg', :target => "_blank" do %>  
    <i class="fa fa-facebook fw"> Facebook</i>
  <% end %>
  <%= link_to "mailto:projetmbad@gmail.com", :class => 'btn btn-default btn-lg', :target => "_blank" do %>  
    <i class="fa fa-envelope fw"> Email</i>
  <% end %>
  <!-- <%= link_to "mailto:contact@ujumbox.com", :class => 'btn btn-default btn-lg', :target => "_blank" do %>  
    <i class="fa fa-bullhorn"> Publier vos propositions</i>
  <% end %> -->

  </div>
  </div>