<div class="page-header">
  <h1>Editez votre projet</h1>
</div>

<div class="col-md-2">
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p><strong>Attention !</strong> Tous les champs doivent être remplis</p>
</div>
</div>

<div class="col-md-8">

<%= render 'form' %>
</div>
