<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p class="text-center"><strong>Attention !</strong> Votre inscription est en cours de validation par l'équipe Dias'.
	<br>Pour plus d'info, contactez-nous via <%=link_to "projetmbad@gmail.com", "mailto:projetmbad@gmail.com" %></p>
</div>